.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.logo {
  flex: 1;
  align-items: center;
}

.navigations {
  display: flex;
  align-items: center;
  /* padding-left: 15px; */
  gap: 35px;
  flex: 1;
}

.auth {
  flex: 1;
  color: gray;
  text-align: right;
}