.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  align-items: center;
}

.navigations {
  display: flex;
  align-items: center;
  gap: 60px;
}

.auth {
  color: gray;
  text-align: right;
}