.auth {
  display: flex;
  gap: 30px;
  color: gray;
  text-align: right;
  align-items: center;
}

.auth Button {
  font-size: 1.35rem;
  line-height: 1.8;
  letter-spacing: 0.05em;
}

.mobileMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: none;
  cursor: pointer;
  margin-left: 30px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 55%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1200;
}

.responsiveMenu {
  position: absolute;
  background-color: whitesmoke;
  top: 0;
  right: 0;
  width: 45%;
  height: 100vh;
  padding: 20px 50px;
  font-size: 1.5rem;
  display: none;
}

@media screen and (max-width: 1280px) {
  .auth {
    gap: 15px
  } 
}

@media screen and (max-width: 935px) {
  .menu {
    display: block;
  }
  .responsiveMenu {
    display: block;
  }
  .auth {
    display: none;
  }
}

@media screen and (max-width: 835px) {
  .overlay {
    width: 50%;
  }
  .responsiveMenu {
    width: 50%;
  }
}

@media screen and (max-width: 735px) {
  .responsiveMenu {
    width: 50%;
    padding: 20px 25px;
  }
}

@media screen and (max-width: 635px) {
  .overlay {
    width: 40%;
  }
  .responsiveMenu {
    width: 60%;
  }
}

@media screen and (max-width: 535px) {
  .overlay {
    width: 30%;
  }
  .responsiveMenu {
    width: 70%;
  }
}

@media screen and (max-width: 435px) {
  .overlay {
    width: 20%;
  }
  .responsiveMenu {
    width: 80%;
  }
}

@media screen and (max-width: 335px) {
  .overlay {
    width: 15%;
  }
  .responsiveMenu {
    width: 85%;
  }
}